.task {
  display: flex;
  justify-content: space-around;
}

a {
  font-size: large;
  text-decoration: none;
}

/* task */
.view-btn {
  display: inline-block;
  padding: 12px 12px;
  background: linear-gradient(90deg, #4361ee, #3b5cfa);
  color: white;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
}

.view-btn:hover {
  background: linear-gradient(90deg, #3854d8, #304ad1);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* complete */
.complete-btn {
  display: inline-block;
  padding: 12px 12px;
  background: linear-gradient(90deg, #4361ee, #3b5cfa);
  color: white;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
}

.complete-btn:hover {
  background: linear-gradient(90deg, #3854d8, #304ad1);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* edit hapus tick */
/* 
.action-icons {
  transition: 0.2 ease;
}

.action-icons > button > i:hover {
  background: linear-gradient(90deg, #3854d8, #304ad1);
  transform: translateY(-2px);
  transform: translateY(-2px);
} */
